/* CSS Document */
body{
	-moz-user-select: none; /*火狐*/
-webkit-user-select: none; /*webkit浏览器*/
-ms-user-select: none; /*IE10*/
-khtml-user-select: none; /*早期浏览器*/
user-select: none;
}
body,ul,li,h3,img,p,span{
	margin:0;
	padding:0;
	font-family:"宋体";
}
ul,li{
	list-style:none;
	overflow:hidden;
}
body *{
	/*border:1px solid red;*/
}
.all{
	width:1466px;
	overflow:hidden;
	margin:0 auto;
}
.top{
	height:97px;
	background:url(../img/topbactimg.png);
	overflow:hidden;
}
.top ul{
	margin-top:20px;
	margin-left:15px;
}
.top ul li{
	float:left;
	text-align:center;
	margin-left:20px;
	cursor:pointer;
}
.top ul li img{

}
.top ul li h3{
	font-weight:normal;
	margin-top:-5px;
}
.content{
	overflow:hidden;
}
.leftdiv{
	float:left;
	width:260px;
	overflow:hidden;
	background:#F5F5F5;
	border-right:1px solid #B8B8B8;
}
.rightdiv{
	float:left;
	overflow:hidden;
	width:1205px;
	background:#FAFAFA;
	height: 1170px;
}
.condiv{
	width:600px;
	height:890px;
	float:left;
	margin-left:150px;
	margin-top:40px;
	background:#FFF;
	border:1px solid #BCBCBC;
	box-shadow: 0px 2px 10px #C8C8C8;
}
.rigdiv{
	width:342px;
	float:right;
	background:#F5F5F5;
	overflow:hidden;
	height: 1170px;
}
.borput{
	float:left;
	width:1px;
	background:#BBB;
	height:1170px;
}
.leftdiv ul li{
	text-align:center;
	line-height:60px;
	border-bottom:1px solid #bcbcbc;
}
.leftdiv ul li div{
	width:260px;
	display: table-cell;
	text-align: center;
}

.leftdiv ul li div img{
vertical-align: middle;
}
.mar20{
	margin-bottom:20px;
}
.condiv ul{
	overflow:hidden;
}
.condiv ul li{
	height:80px;
	line-height:80px;
	text-align:center;
	border:1px solid #FFF;
	border-bottom:1px solid #C8C8C8;
}
.condiv ul li div{
	width:197px;
	height:78px;
	float:left;
	border:1px solid #FFF;
}
.rig{
	width:340px;
	overflow:hidden;
	float:left;
}
.box{
	height:60px;
	overflow:hidden;
	line-height:60px;
	color:#191919;
	font-size:20px;
	border-bottom:1px solid #B8B8B8;
	
}
.item{
	float:left;
	width:90px;
	border-right:1px solid #B8B8B8;
	padding-left:15px;
	letter-spacing:-1px;
}
.itlab{
	height:60px;
	display:table-cell;
	text-align:center;
}
.itlab,.itlab label{
	height:60px;
	display:table-cell;
	text-align:center;
}
.itlab label{
	float:left;
	margin-left:5px;
}
.itlab label img{
vertical-align:middle;
height:25px;
}
.itlab .ipt{
	margin-left:10px;
	height:32px;
	width:140px;
	border-radius:10px;
	border:1px solid #BCBCBC;
}
.delbut{
	float:right;
	margin-top:30px;
	margin-right:30px;
}
#tempBox{position: absolute;z-index:9999; width:258px; border:1px solid rgba(0, 0, 0, 0.65);text-align:center; line-height:60px;}
.hide{

}
.viewDiv{
	width: 600px;
	height: 890px;
	background: none repeat scroll 0% 0% #FFF;
	border: 1px solid #BCBCBC;
	box-shadow: 0px 2px 10px #C8C8C8;
	position: fixed;
	display:none;
}